<table>
  <tr>
   <td><strong>Syntax</strong>
   </td>
   <td><strong>Semantic</strong>
   </td>
   <td><strong>Machine Code</strong>
   </td>
  </tr>
  <tr>
   <td colspan="3" ><strong>I-Mode Instructions</strong>
   </td>
  </tr>
  <tr>
   <td><code>movl{z} rd, imm8</code>
   </td>
   <td><code>rd := #imm8 </code>
   </td>
   <td><code>0000 z&lt;rd> &lt;imm8></code>
   </td>
  </tr>
  <tr>
   <td><code>seth{z} rd, imm8</code>
   </td>
   <td>See below
   </td>
   <td><code>0001 z&lt;rd> &lt;imm8></code>
   </td>
  </tr>
  <tr>
   <td><code>-</code>
   </td>
   <td><code>-</code>
   </td>
   <td><code>0010 xxxx xxxx xxxx</code>
   </td>
  </tr>
  <tr>
   <td><code>-</code>
   </td>
   <td><code>-</code>
   </td>
   <td><code>0011 xxxx xxxx xxxx</code>
   </td>
  </tr>
  <tr>
   <td colspan="3" ><strong>R-Mode Memory Instructions</strong>
   </td>
  </tr>
  <tr>
   <td><code>str{z} rd, [ra]</code>
   </td>
   <td><code>[ra] := rd</code>
   </td>
   <td><code>0100 z&lt;rd> 0&lt;ra> 0000</code>
   </td>
  </tr>
  <tr>
   <td><code>ldr{z} rd, [ra] </code>
   </td>
   <td><code> rd  := [ra]</code>
   </td>
   <td><code>0101 z&lt;rd> 0&lt;ra> 0000</code>
   </td>
  </tr>
  <tr>
   <td><code>-</code>
   </td>
   <td><code>-</code>
   </td>
   <td><code>0110 xxxx xxxx xxxx</code>
   </td>
  </tr>
  <tr>
   <td><code>-</code>
   </td>
   <td><code>-</code>
   </td>
   <td><code>0111 xxxx xxxx xxxx</code>
   </td>
  </tr>
  <tr>
   <td colspan="3" ><strong>R-Mode ALU Instructions</strong>
   </td>
  </tr>
  <tr>
   <td><code>add{z} rd,ra,rb</code>
   </td>
   <td><code>rd := ra+rb</code>
   </td>
   <td><code>1000 z&lt;rd> 0&lt;ra> 0&lt;rb></code>
   </td>
  </tr>
  <tr>
   <td><code>sub{z} rd,ra,rb</code>
   </td>
   <td><code>rd := ra-rb</code>
   </td>
   <td><code>1001 z&lt;rd> 0&lt;ra> 0&lt;rb></code>
   </td>
  </tr>
  <tr>
   <td><code>and{z} rd,ra,rb</code>
   </td>
   <td><code>rd := ra&rb</code>
   </td>
   <td><code>1010 z&lt;rd> 0&lt;ra> 0&lt;rb></code>
   </td>
  </tr>
  <tr>
   <td><code>orr{z} rd,ra,rb</code>
   </td>
   <td><code>rd := ra|rb</code>
   </td>
   <td><code>1011 z&lt;rd> 0&lt;ra> 0&lt;rb></code>
   </td>
  </tr>
  <tr>
   <td><code>-</code>
   </td>
   <td><code>-</code>
   </td>
   <td><code>1100 xxxx xxxx xxxx</code>
   </td>
  </tr>
  <tr>
   <td><code>-</code>
   </td>
   <td><code>-</code>
   </td>
   <td><code>1101 xxxx xxxx xxxx</code>
   </td>
  </tr>
  <tr>
   <td><code>-</code>
   </td>
   <td><code>-</code>
   </td>
   <td><code>1110 xxxx xxxx xxxx</code>
   </td>
  </tr>
  <tr>
   <td><code>-</code>
   </td>
   <td><code>-</code>
   </td>
   <td><code>1111 xxxx xxxx xxxx</code>
   </td>
  </tr>
</table>
